---
import ClosedPage from "~/layouts/ClosedPage.astro";
import Team from "~/components/team.astro";
import Footer from "~/components/footer.astro";
import Closed from "~/components/closed.astro";
---

<ClosedPage>
  <div class="px-8 py-32 space-y-24">
    <Closed />
  </div>
</ClosedPage>
