---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Expert Linux consulting" id="intro">
  <Icon slot="eyebrow" name="logomark" class="h-32" />
  <Fragment slot="lead">
    We specialize in
    <span class="text-primary">containers</span>,
    <span class="text-primary">virtual appliances</span>,
    and <span class="text-primary">firmware</span> for embedded and IoT devices.
  </Fragment>
</ContentSection>
