---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Operating systems as a service" id="intro">
  <Icon slot="eyebrow" name="logomark" class="h-32" />
  <Fragment slot="lead">
    Caketop is your
    <span class="text-primary">one-stop shop</span>
    for IoT firmware and virtual machine images.
    Stop worrying about
    your platform and focus on
    <span class="text-primary">your app</span>.
  </Fragment>
</ContentSection>
