---
import { Image } from "@astrojs/image/components";
import jordemort from "~/assets/jordemort.jpg";
---

<figure class="p-3">
  <a href="https://jordemort.dev/"
    ><Image
      src={jordemort}
      width={200}
      height={200}
      alt="Jordan Webb"
      class="rounded-full"
    /></a>
  <figcaption class="text-center">
    <a href="https://jordemort.dev/" class="font-semibold">Jordan Webb</a><br /><span class="text-sm">Proprietor</span>
  </figcaption>
</figure>
<p class="max-w-prose">
  Jordan is an industry veteran with extensive experience in software packaging, distribution, and compliance.
  Jordan's <a href="https://jordemort.dev/portfolio/">previous experience</a> includes building the operating system for Cleversafe (now part of IBM Cloud)
  storage appliances, GitHub Enterprise Server, and home automation hub firmware.
</p>
