---
import { Image } from "@astrojs/image/components";
import jordemort from "~/assets/jordemort.jpg";
---

<figure class="p-3">
  <a href="https://jordemort.dev/"
    ><Image
      src={jordemort}
      width={200}
      height={200}
      alt="Jordan Webb"
      class="rounded-full"
    /></a>
  <figcaption class="text-center">
    <a href="https://jordemort.dev/" class="font-semibold">Jordan Webb</a><br /><span class="text-sm">Founder</span>
  </figcaption>
</figure>
