---
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Rates" id="rates">
  <table>
    <tr class="border">
      <td class="pl-1 pr-8">First hour</td>
      <td class="pr-1 text-right font-mono">$200 USD</td>
    </tr>
    <tr class="border">
      <td class="pl-1 pr-8">Each additional hour</td>
      <td class="pr-1 text-right font-mono">$150 USD</td>
    </tr>
  </table>
  <p>All jobs are billed at a minimum of 1 hour. Additional work is billed in 1 hour increments.</p>
</ContentSection>
